## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
master.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

~$Draft Tables.xlsx

images/age.jpg

images/condition starting.jpg

images/covcond685.png

images/covcond690.png

images/covcond695.png

images/covcond700.png

images/cover.jpg

images/distid.pdf

images/elevation.jpg

images/fri_all_origcolor.png

images/fri_megm_test_black.png

images/fri_megm_test_grey60.png

images/fri_megm_test_grey70.png

images/fri_megm_test_grey80.png

images/fri_megm_test_white.png

images/fri_megm_test.png

images/imagery.png

images/timbervsFS.png

images/tpi.jpg

images/wfmort.pdf

images/treatpri_matgroup.jpg

images/treatpri_rxfire.jpg

images/treatpri_thin.jpg

images/treatpri_undermech.jpg
